Post Generator.json
{
  "name": "Post Generator",
  "nodes": [
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "nH2AHrwxeTRJoN5hX",
          "mode": "list",
          "cachedResultName": "Instagram Post Scraper (apify/instagram-post-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/nH2AHrwxeTRJoN5hX/input"
        },
        "customBody": "={\n    \"dataDetailLevel\": \"basicData\",\n    \"onlyPostsNewerThan\": \"{{ $now.minus(15,'days').format('yyyy-MM-dd')  }}\",\n    \"resultsLimit\": 50,\n    \"skipPinnedPosts\": false,\n    \"username\": [\n        \"https://www.instagram.com/evolving.ai/?hl=en\"\n    ]\n}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -48,
        -128
      ],
      "id": "cf780bdc-5164-481d-9268-bfc7016a436f",
      "name": "Run an Actor",
      "credentials": {
        "apifyApi": {
          "id": "8UKJuAWd42hrNtCx",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        176,
        -128
      ],
      "id": "b7347f86-1f13-4a9f-98b0-8dbfb798ea20",
      "name": "Wait",
      "webhookId": "419fa3d8-b268-4d30-bd16-d9302ecbf908"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -272,
        -128
      ],
      "id": "eaa9e983-2f1e-4500-b102-2eb972274174",
      "name": "Run Every Monday"
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $json.defaultDatasetId }}",
        "offset": {},
        "limit": {},
        "options": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        400,
        -128
      ],
      "id": "9171be71-f6bf-40a9-ba2c-d2db399f54a9",
      "name": "Get dataset items",
      "credentials": {
        "apifyApi": {
          "id": "8UKJuAWd42hrNtCx",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d5333992-1ef2-4b92-baa7-1355595efe64",
              "leftValue": "={{ $json.classification }}",
              "rightValue": "relevant",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1648,
        -256
      ],
      "id": "8abdd93f-4754-4869-818c-30bb2658506d",
      "name": "Filter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Classify a Instagram post for an automation-focused audience . Return only relevant/non_relevant  classification.\n\n-Relevant if it is some interesting news on AI that came out.\n\n-Not Relevant if it's motivational/personal , non-automation coding ,\ncrypto/politics/finance, or tool discounts etc. or vague hype with no build/impact. \n\n-ALSO THINK CLEARLY AS USER IF IT IS REALLY NICE.\n- THINK THAT YOU ARE FINDING DIAMOND IN BUNCH OF GOLD.\n\n\n",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a strict content classifier for an AI news Instagram page.\n\nYour job is to find \"diamond\" posts — breaking news, drama, and major industry moments worth reposting.\n\nRELEVANT criteria (be very strict, only 20-30% should pass):\n- Breaking AI news (new model releases, major announcements)\n- Industry drama (resignations, lawsuits, controversies, boycotts)\n- Big funding rounds or acquisitions\n- Government & AI (regulations, bans, military deals)\n- Major company moves (OpenAI, Anthropic, Google, Meta, Microsoft)\n- Viral AI moments that sparked public debate\n\nNON_RELEVANT (reject these):\n- Generic AI tips and how-to guides\n- Prompt engineering tutorials\n- \"Here are X tools you should use\" posts\n- Motivational or opinion posts with no news value\n- AI art/video showcases with no news angle\n- Weekly roundup posts\n- Posts that just explain a concept\n\nWhen in doubt, mark as non_relevant. Be harsh. You are looking for diamonds."
            },
            {
              "type": "AIMessagePromptTemplate",
              "message": "=-Classify these Instagram posts as relevant or non_relevant.\n\n{{ $json.posts.map((p, i) => '━━━━━━━━━━━━━━━━━━━━━━━━\\n📌 POST ' + (i+1) + '\\n━━━━━━━━━━━━━━━━━━━━━━━━\\n🔗 URL       : ' + (p.url ?? 'N/A') + '\\n❤️ Likes     : ' + (p.likesCount ?? 0) + '\\n💬 Comments  : ' + (p.commentsCount ?? 0) + '\\n🕐 Timestamp : ' + (p.timestamp ?? 'N/A') + '\\n📝 Caption   : ' + (p.caption ?? 'N/A')).join('\\n\\n') }}\n\n\n-Reply ONLY with a valid JSON array, no markdown, no bold, no explanation:\n[{\"url\":\"...\",\"classification\":\"relevant\"},{\"url\":\"...\",\"classification\":\"non_relevant\"}]"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1072,
        -256
      ],
      "id": "641d60db-85a0-44b1-9183-9e85248c1d60",
      "name": "Classify Relevance"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1872,
        -256
      ],
      "id": "c28280e1-9f78-461e-88d7-6c241f69510d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Rewrite every single post provided. Do not skip any. One rewritten version per post. Return exactly the same number of posts you received. Keep URLs as they are.\n\nALWAYS DRAFT 180-200 WORDS POST !!!",
        "messages": {
          "messageValues": [
            {
              "message": "=# Overview \nYou are an expert social media content writer for an AI news Instagram page.ALWAYS FOLLOW RULES!\n\nCurrent Date/Time: {{ $now.format('ff') }}\n\n**DONT CHANGE SIZE OF THE POSTS , KEEP IT ALMOST EQUAL!**\n**ALWAYS DRAFT 180-200 WORDS POST !!!!**\n**WITH 3-4 PARAGRAPHS**\n\n## Goal\nRewrite each post to be more engaging, punchy and viral while keeping all facts accurate.\n\n## Instructions \n-Keep the same topic and key information but make it hit harder\n- Keep emojis\n- Keep the \"What are your thoughts?\" ending\n- Never add hashtags unless the original had them - Do not skip any post\n- Return exactly the same number of posts you received \n- Keep URLs as they are -keep post size same [approximately]\n-it can be bigger than the orignal post but not smaller\n## Output Format Return ONLY a valid JSON array, no markdown, no bold, no explanations: [{\"url\":\"...\",\"rewritten_caption\":\"...\"}]"
            },
            {
              "type": "AIMessagePromptTemplate",
              "message": "=Rewrite each of the following posts:\n\n{{ $json.text }}\n\n**DONT CHANGE SIZE OF THE POSTS , KEEP IT ALMOST EQUAL!**\n**ALWAYS DRAFT 180-200 WORDS POST !!!!**\n**WITH 3-4 PARAGRAPHS**"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2320,
        -256
      ],
      "id": "8746259a-e58d-40c5-946a-64a7cd88f6f8",
      "name": "Post Rewriter"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "32615120-6309-8019-9169-f5ba144b1843",
          "mode": "list",
          "cachedResultName": "Post Generation Database",
          "cachedResultUrl": "https://www.notion.so/32615120630980199169f5ba144b1843"
        },
        "title": "Posts",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Post URL|title",
              "title": "={{ $json.url }}"
            },
            {
              "key": "Rewritten Post|rich_text",
              "textContent": "={{ $json.rewritten_caption }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2896,
        -128
      ],
      "id": "01456d41-cc9d-4702-9603-7fb1bc40dc75",
      "name": "Add to Database",
      "credentials": {
        "notionApi": {
          "id": "xGxcxhAVUnypRiCf",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        -128
      ],
      "id": "6e6d6841-7e6a-49a1-ad62-a26d1a453e6e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function Node\n// Input: $json.text contains raw JSON-like text\n\nconst text = $json.text;\n\n// Regex to match all URL/caption pairs\n// This regex matches \"url\":\"...\" and \"rewritten_caption\":\"...\" safely\nconst itemRegex = /{\\s*\"url\"\\s*:\\s*\"([^\"]+)\"\\s*,\\s*\"rewritten_caption\"\\s*:\\s*\"([^\"]*)\"\\s*}/g;\n\nlet items = [];\nlet match;\n\n// Loop through all matches and push to items array\nwhile ((match = itemRegex.exec(text)) !== null) {\n    items.push({\n        json: {\n            url: match[1],\n            rewritten_caption: match[2]\n        }\n    });\n}\n\n// Return items array\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        -256
      ],
      "id": "12350595-f1d3-4f62-8c20-cde5ada03a65",
      "name": "Format"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.text;\nconst classified = JSON.parse(raw);\nconst posts = $node[\"Format Posts\"].json.posts;\n\nreturn classified.map(item => {\n  const cleanUrl = item.url.replace(/\\/$/, '');\n  const original = posts.find(p => p.url.replace(/\\/$/, '') === cleanUrl);\n  \n  if (!original) return { json: { url: item.url, classification: item.classification } };\n  \n  return {\n    json: {\n      caption: original.caption,\n      likesCount: original.likesCount,\n      commentsCount: original.commentsCount,\n      url: original.url,\n      timestamp: original.timestamp,\n      classification: item.classification\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        -256
      ],
      "id": "116f9f4c-058f-4e30-93de-fa7b780095b6",
      "name": "Split "
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst posts = items.map(item => ({\n  caption: item.json.caption,\n  url: item.json.url,\n  timestamp: item.json.timestamp,\n  likesCount: item.json.likesCount,\n  commentsCount: item.json.commentsCount\n}));\nreturn [{ json: { posts } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        -256
      ],
      "id": "7bbf947b-49ce-47df-9e24-feb38606da20",
      "name": "Format Posts"
    },
    {
      "parameters": {
        "jsCode": "const posts = $input.first().json.data;\n\nconst text = posts.map((p, i) => `Post ${i+1}:\n\nCaption: ${p.caption}\n\nLikes: ${p.likesCount}\n\nComments: ${p.commentsCount}\n\nURL: ${p.url}\n\nTimestamp: ${p.timestamp}`).join('\\n\\n---\\n\\n');\n\nreturn [{ json: { text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        -256
      ],
      "id": "1e687cac-134b-4373-a7a8-a7a55734d472",
      "name": "Format Input"
    },
    {
      "parameters": {
        "content": "# Get Posts",
        "height": 320,
        "width": 880,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -336,
        -256
      ],
      "id": "9e42d4f1-fe83-4bed-89b0-290a89557fff",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Split",
        "height": 256,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        576,
        -208
      ],
      "id": "b2d6686a-e467-4ab7-8370-30b083fc8053",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Classify Posts' Importance And Filter Relevance ",
        "height": 416,
        "width": 1456,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        816,
        -400
      ],
      "id": "cf65d86b-11e6-410b-b1fa-9c17862d66e6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Rewrite Posts And Add to Database",
        "height": 416,
        "width": 816,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2304,
        -384
      ],
      "id": "75cf0af0-de0e-4b9c-be04-b185b7d00ed9",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        1008,
        -48
      ],
      "id": "f4cf2661-9a76-4496-bde0-82c21ca59efc",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "jxYc0Hfr8UnJp4yO",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        2256,
        -48
      ],
      "id": "28b64896-b6e2-4f01-afba-5505dea24801",
      "name": "Cohere Chat Model1",
      "credentials": {
        "cohereApi": {
          "id": "jxYc0Hfr8UnJp4yO",
          "name": "CohereApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Run an Actor": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Every Monday": {
      "main": [
        [
          {
            "node": "Run an Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get dataset items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get dataset items": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Relevance": {
      "main": [
        [
          {
            "node": "Split ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Format Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Rewriter": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Database": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Format Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "Add to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split ": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Posts": {
      "main": [
        [
          {
            "node": "Classify Relevance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Input": {
      "main": [
        [
          {
            "node": "Post Rewriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classify Relevance",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Post Rewriter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b0424acc-4047-486d-b73e-1cd5f6b8a92f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "989074a2911041fc135d491b212a27b4bae72585d15252132315be3ee2c31a3b"
  },
  "id": "JGodq8z7nYi4PEtc",
  "tags": []
}