RAG Agent.json
{
  "name": "RAG Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        -48
      ],
      "id": "f5ec5604-2746-4620-8b5b-9f1ce353a82c",
      "name": "WhatsApp Trigger",
      "webhookId": "cc561afb-8d81-4118-ab01-78f5a5c35b64",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "am9qXc92o7VBHIBZ",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=You are a customer support assistant for FitZone Gym. 🏋️\n\nCurrent Date/Time: {{ $now.format('ff') }}\n\nUSE CALCULATOR FOR PRICING AND BUDGET CALCULATIONS.\n\n*Rules*\n\nYou MUST use the Supabase Vector Store tool to fetch information before answering every single question — no exceptions. All information about FitZone Gym is stored there.\n\nDo NOT answer from your own knowledge. Do NOT guess. Do NOT make up anything. If the vector store does not return relevant information, say: \"I don't have that information, please contact us at 9876543210 or support@fitzone.com 😊\"\n\nKeep answers short, factual, and to the point. Do not be creative. Just answer what is asked using only what the vector store returns.\n\n*Formatting*\n\nUse single asterisks for bold like *this*. Use line breaks to separate content. Do NOT use #, **, dashes for bullets, or any other markdown symbols."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        320,
        -48
      ],
      "id": "4eda6899-baa5-48b0-8d71-25e289b1bc7f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with dat in supabase.",
        "tableName": {
          "__rl": true,
          "value": "fitzone_documents",
          "mode": "list",
          "cachedResultName": "fitzone_documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        416,
        176
      ],
      "id": "01065778-ffa8-45d4-b9c1-50301a0a3158",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "dl3tc9LSfy7fR30w",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1098978463292081",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        912,
        -48
      ],
      "id": "9292ef07-7418-4dfb-8266-1495e77e1d23",
      "name": "Send message",
      "webhookId": "db981bef-bce4-4c06-917f-027c6064fc70",
      "credentials": {
        "whatsAppApi": {
          "id": "riX15PiWLCPFqU3z",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.messages[0].id }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        288,
        176
      ],
      "id": "3f0fb77b-44e7-4097-9ee2-7c34dfe733ae",
      "name": "Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        704,
        176
      ],
      "id": "b8363859-ffb6-4a08-8d57-a9ae8dfde403",
      "name": "Calculator"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        160,
        176
      ],
      "id": "011e91ff-9f48-4f25-8c23-c564ae90f499",
      "name": "Brain",
      "credentials": {
        "anthropicApi": {
          "id": "PcjtIN6VpJTi0Pmd",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        496,
        384
      ],
      "id": "8bf43ae8-391d-43c6-83fa-2a5b5993f4d1",
      "name": "Embedding",
      "credentials": {
        "openAiApi": {
          "id": "aJn5jfYsp8jxYfC6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Message Received",
        "height": 224,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -144,
        -128
      ],
      "id": "9a73ea2d-1cb1-45c4-b21b-d2f19bdea7f5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Reply",
        "height": 240,
        "width": 272,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        816,
        -128
      ],
      "id": "782c7a23-3033-40e6-9974-6199f7a8fa5f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# RAG Agent",
        "height": 672,
        "width": 624,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -176
      ],
      "id": "617a75cf-c343-47e3-ad5e-8c63ff585898",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Brain": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embedding": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "56b2a18c-ce95-4455-b751-de0970501945",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "989074a2911041fc135d491b212a27b4bae72585d15252132315be3ee2c31a3b"
  },
  "id": "IeHcKJj2Gcrtyoou",
  "tags": []
}