Ultimate AI Agent.json
{
  "name": "Ultimate AI Agent",
  "nodes": [
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        384,
        -736
      ],
      "id": "ed65a6bd-982f-43d7-a359-192bf570f353",
      "name": "Convert to Text/Transcribe",
      "credentials": {
        "googlePalmApi": {
          "id": "TxWlO1UyD6DBj7E4",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        -736
      ],
      "id": "40971ced-69cb-4b6d-9193-687747e96ebe",
      "name": "Download Audio File",
      "webhookId": "e01bb7b1-97a8-4943-bdad-59fc73e42f5f",
      "credentials": {
        "telegramApi": {
          "id": "1X970a9iWyaRIc0E",
          "name": "Ultimate Agent"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3c8c0eff-a55f-4a7d-b556-73c398fb6c6f",
                    "leftValue": "={{ $json.message.voice.mime_type }}",
                    "rightValue": "={{ $json.message.voice.mime_type }}",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2bf559c8-9b1e-41fd-9f9e-e4f1a7eabc4c",
                    "leftValue": "={{ $json.message.text}}",
                    "rightValue": "={{ $json.message.text }}",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -64,
        -640
      ],
      "id": "4e4e4b5c-8a14-4b69-b876-5fc3c9550431",
      "name": "Text/Audio"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -288,
        -640
      ],
      "id": "bd33a8f3-1e8c-4dcd-a054-d626488f8d23",
      "name": "Get Message",
      "webhookId": "8178892f-5e5e-46fc-a181-fbd22ac3ddac",
      "credentials": {
        "telegramApi": {
          "id": "1X970a9iWyaRIc0E",
          "name": "Ultimate Agent"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "= {{ $json.content.parts[0].text }}",
        "options": {
          "systemMessage": "=#Overview\nYou are an ultimate personal assistant. Your job is to send the user's query to the correct tool.\n\n##Tools\n\n1)Think: ALWAYS use the tool, to think about the user's query and which of the other tool is required to answer user's query.\n\n2)Calculator: Use this tool whenever user demands some kind of calculations , for instance if user asks : \"What is 78*89?\" .\n\n3)Contact Agent: Use the tool for searching for relatable contacts, and taking any kind of contact actions . You HAVE TO use this before sending emails or creatig calenedr events within attendees.\n\n4)Email Agent: Use this tool to take actions in Email , for e.g sending emails , searching for emails , getting email contents etc.\n\n5)Calender Agent: Use this tool to take actions in calender , for e.g. Creating Calender events, checking available time slots etc.You HAVE TO  use the contact agent before using the calender agent and make sure you pass through the email of the contact to the calender.\n\n6)Content Agent: Use this tool to generate any kind of content asked by the user , for instance: article , blog etc.\n\n7)Research Agent: Use the tool to research about any topic mentioned by the user , for e.g If the user says , tell me about global war updates , you need to search , so call this tool , but first configure if research is needed.\n\n##Rules\n\n1)Some actions require you to look up contact information first. For following actions , you must get contact information  and send that to the agent who needs it:\n-Sending emails.\n-Drafting Emails.\n-Creating calender events with attendees.\n\n2)When asked to write a content like blog or article, you have to return the whole blog text to the user from the Content Agent.\n\n##Instructions\n\n1)Call the neccessary tools based on the user's request.\n2)Use the **Think** tool to verify you took the right steps. This tool should be called every time.\n3)ALWAYS add contact information of any person specified by the user newly , but dosen't exist in Contact Database even if user doesn't asks so.\n\nIMPORTANT- If you need to collect information from one agent tool and need it for other you have to compulsoryly do it , or E.G. If user said to send email to 'PERSON NAME' You first use \"Contact Agent\"to retrieve contact information[email] of the person [if dosen't exist , tell user to give email and also add it automatically]and then use the email to send the mentioned email.\n\n\nThe current date/time is: {{ $now }}\n---------------------------------------------------\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        832,
        -640
      ],
      "id": "0baf0b78-3902-444a-85d8-4b335c0d1f82",
      "name": "Ultimate AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        864,
        -416
      ],
      "id": "0c5b1443-0694-4b1b-9632-83ad23d934d8",
      "name": "Think"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        992,
        -416
      ],
      "id": "0ce1c04c-1d4a-48a9-850f-d27219aa4b39",
      "name": "Calculator"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to take action within contact database.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', `Promt that is to be given to the agent regarding the task he has to do .`, 'string') }}",
        "options": {
          "systemMessage": "=#Overview\nyou are a contact manager. you have to take actions within contact database.\nHERE IS THE USER MAIN QUESTION FOR REFERENCE:\n- {{ $json['User Query'] }} \nIMPORTANT: Search for country calling code of the country specified by the user of the contact to add.\n\n##Tools\n\n1)Contact Information: use this tool to get contact information like email address or phone number [acc. to user query]  and  Name .\nAnd also Contact type - \n>Family \n>Proffestional\n\n2)Add Contacts : Use this tool to add new contact information in contact database , the information must be taken from the user query , And make sure that the user has provided all required information acc. to database columbs , If not , Send message that \" Please also provide...'REQUIRED INFORMATION' \"\n\n##Instructions\n\n1)Make sure to check contact database ALWAYS before making any decision.\n\n2)Check if the contact the user is asking to add in contact database already exixts in the databse ,if so don't add it and rather say , Thanks for the concern butthe contact already exixts[just the overview].\n\n3)ALWAYS use THINK TOOL to make sure your decision and reply are polite and correct.\n\nCurrent date/time: {{ $now }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        1120,
        -416
      ],
      "id": "20f95177-0242-422e-92cd-3daec6062eb5",
      "name": "Contact Agent"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to take actions in Calender.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', `Promt that is to be given to the agent regarding the task he has to do .`, 'string') }}",
        "options": {
          "systemMessage": "=#Overview\n\nYou are an Calender Manager.You need to take actions in calender according to user query.\nHere is the user query for more convinience: \n{{ $json.UserQuery }}\nCurrent Date/Time: {{ $now }}\n\n##Tools\n\n1)Create Event: Use this tool to create an event specified by the user at the specific time period precisely.\n2)Update Event: Use this tool to add details to the created event [the one using Create Event tool] , like a relevant description , name , etc.\nOR use this tool directly to update an event specified by the user.\n3)Delete Event: Use this tool to delete an event from the calender according to user reference, need.\n4)Get Events:Use this tool to get all events from the calender and get all details about each , NOTE: Use this tool everytime you need to fill out 'ID' of an event specified by the user , it will give you id as an schema.\n5)Create event with attendee: Use this tool whenever a event is based on the fact that a another person/attendee is joining/ will be there with the user. \n6)Think2: Use this tool to think about different decisions you have to take , and at last to verify the steps taken are correct.\n\n##Rules\n1)Use the Think2 tool ALWAYS.\n2)Whenever you require message id , use the Get Events tool to find the specific message and it's id.\n3)The Update event tool is compulsory when created a event using Create Event tool , As Update Event tool helps you add details to it , like the descriptio , Title/name and also a photo which is available defaultly in Google Calender."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        1584,
        -416
      ],
      "id": "93af190b-2f12-40c7-9169-0b83fa184fb7",
      "name": "Calender Agent"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to take actions in Email.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', `Promt that is to be given to the agent regarding the task he has to do.`, 'string') }}",
        "options": {
          "systemMessage": "=#Overview\nYou are an Email manager ,you have to take actions in email using diffrent tools provided.\nIMPORTANT-DRAFT/SEND Emails in HTML ONLY>\n\nHere is the user query for convenience :\n-{{ $json.UserQuery }}\n\n##Tools\n\n1)Send Email: Use this tool to send an well drafted email to the person regarded by the user.\n\n2)Get Emails: Use this tool to get many emails and their information[you can use this information for e.g 'message id' of the email whom to reply shall be fillled in the 'Reply Email' tool for replying.]\n\n3)Reply to Email: Use this tool to send reply messages to specified people mentioned by the user.[message id shall be collected from 'Get Messages' tool]\n\n4)Get Labels: Use this tool to get all labels that exist in the gmail account.\n\n5)Create Draft: USe this tool to create an email draft.\n\n6)Add Label: Use this tool to add labels to any message specified by the user ,\nFor e.g if user says to add important label to the message sent by 'PERSON NAME' then find email using GET EMAIL tool and add 'important' label to it.\n\n7)Think3: Use this tool to think about the email you have drafted , if it is formatted , or according to user demand etc.\n\n##Rules\n1)ALWAYS ask for information needed to do the task but is insufficient.\n2)ALWAYS use the Think tool.\n3)Create all emails IN HTML ONLY.\n4)Emails should be formatted and have parts: <br><br>\n5)The email should be like:\n -Email main thing[what the email is for]\n\nDear...,\n\nEmail Body...\n\nsalutation\n\n#Current Date/Time: {{ $now }}\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        2144,
        -416
      ],
      "id": "eaa93667-47fa-441e-8c45-7f884c6fd775",
      "name": "Email Agent"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to generate/Write any kind of content like blog/article. ",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', `Promt that is to be given to the agent regarding the task he has to do.`, 'string') }}",
        "options": {
          "systemMessage": "=#Overview\n\nYou are a Content creation Agent. You need to take actions for creating content according to user demand.\nHere is User's Query for convinience:\n{{ $json.UserQuery }} \n\n##Tools\n\n1)Interact with Gemini: Use this tool EVERYTIME for seeking structured Guidance , Whenever you get user query and a promt from Ultimate agent , Use this tool instantly to seek guidance.\n\n2)Search Google: Use this tool only when user says to write content on a factual topic which really exists around the world and should be searched,\nfor e.g  Write a article on Current Global Status.\n\n3)Wikipedia Docs: Use this tool to get extra informations about the topic user said .OR whenever user demands to search wikipedia.\n\n4)Agent-FIND: USe this tool to find relatable and perfect information about the user topic if it's searchable.\n\n5)Think4: Use this tool everytime to think about the facts,guidance you collected , and verify if it is good , paragraph based etc, and use this to analyse the facts also.\n\n##Instructions\n1)ALWAYS use Interact wiht Gemini Tool to get guidance.\n2)Be concise and use paragraphsin any type of content writing.\n3)ALWAYS Use Think4 tool to perform the mentioned tasks.\nCurrent Time/Date: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        3360,
        -416
      ],
      "id": "f129a185-204f-4fe3-b873-3b89cb1848f6",
      "name": "Content Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Get Message').item.json.message.message_id }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        736,
        -416
      ],
      "id": "5c240b92-5edd-4bdc-90e1-dccf4cbd5e24",
      "name": "Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1A_NUPOvizK3J1hM6xkXBvfgRxHoZH3TOHzmqVv50GS0",
          "mode": "list",
          "cachedResultName": "Contact Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A_NUPOvizK3J1hM6xkXBvfgRxHoZH3TOHzmqVv50GS0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A_NUPOvizK3J1hM6xkXBvfgRxHoZH3TOHzmqVv50GS0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1072,
        -208
      ],
      "id": "2cb46b17-732c-4ca9-a9f3-240efd08bee2",
      "name": "Contact Database",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4vitUnlIlkLXRXl1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        1456,
        -208
      ],
      "id": "c3f32486-e8fa-4db5-93a4-5cd5b32e8187",
      "name": "Think2"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        1200,
        -208
      ],
      "id": "efd84881-ec54-4645-acbc-37f069875770",
      "name": "Think1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        2224,
        -208
      ],
      "id": "2da8cbe2-b4c8-49fc-a1a0-56825c367b77",
      "name": "Think3"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        3120,
        -208
      ],
      "id": "1a19ae0c-9fe8-4452-85e2-5700b7fa1772",
      "name": "Think4"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to research about things mentioned by the user whenever needed.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', `Promt that is to be given to the agent regarding the task he has to do .`, 'string') }}",
        "options": {
          "systemMessage": "=#Overview\nYou are an deep researcher , you need to search about various topics defined ny the user.\nHere is User's Query for reference:\n{{ $json['UserQuery'] }}\n\nIMPORTANT- DONT GIVE MORE THAN 120 WORDS OUTPUT , MAk esure to use bullet points.\n\n##Tools:\n\n1)Google Search: Use this tool to search about the topic mentioned by the user using google .ALWAYS use this tool to gain atleast some information.Just take on important facts.\n\n2)Wikipedia: Use this tool to search about specific topics available as wikipedia defined by the user, use this everytime.\n\n3)Think: Use this tool to review and think about the information if the information has facts only and is completely right.Use this everytime.\n\n4)Agent-Search: Use this tool to get formatted and perfect information from an agent same like you, use this everytime , give it the promt for the things you need to make it to do.\n\n5)Search: Use this tool to search various topics.\n\n##Rules\n\n1)ALWAYS use ALL TOOLS EACH TIME.INCLUDING \n-WIKIPEDIA\n-GOOGLE SEARCH\n-THINK\n-Agent-Search\n-Search\n2)Include BULLET POINTS in the output everytime.\n3)BE concised and factual.\n\nCurrent Date/Time: {{ $now }}\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        3936,
        -416
      ],
      "id": "d262170a-dea2-43a2-a2f6-1c73a38cff4e",
      "name": "Research Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        3760,
        -208
      ],
      "id": "41943ff4-19d1-4f9e-9538-b80ab590a745",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "q": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', `What is to be searched ,  analyse user query to do so.`, 'string') }}",
        "locationSettings": {},
        "languageSettings": {},
        "searchOptions": {},
        "timeFilters": {},
        "pagination": {},
        "advancedOptions": {},
        "requestOptions": {}
      },
      "type": "@searchapi/n8n-nodes-searchapi.searchApiTool",
      "typeVersion": 1,
      "position": [
        3888,
        -208
      ],
      "id": "81fe6ad3-ddc9-4e9a-b579-6f681e42c6a0",
      "name": "Google Research",
      "credentials": {
        "searchApi": {
          "id": "BfDbwMiNVIbDAsEi",
          "name": "SearchApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        4016,
        -208
      ],
      "id": "214002db-db97-4a25-bd47-381b2a58c3ba",
      "name": "Think5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a36a46b8-775c-42be-9a43-2782df330974",
              "name": "content.parts[0].text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        -544
      ],
      "id": "c1e06cad-0260-47b6-99b1-df953cea7c23",
      "name": "UserQuery"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', `Email of the person whom to send the email.`, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `Subject line of the email .`, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Email Body of the Email.`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        2352,
        -208
      ],
      "id": "b900578e-42d6-47db-975a-a5ddf9987fa4",
      "name": "Send Email",
      "webhookId": "4bcf0540-45ff-4520-be39-552b5e7a053e",
      "credentials": {
        "gmailOAuth2": {
          "id": "xJufMgNAIbhd6dXZ",
          "name": "Gmail-WORK"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `All Emails.`, 'boolean') }}",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        2480,
        -208
      ],
      "id": "08ce3d50-8eb9-4a4c-8361-c2221644982a",
      "name": "Get Emails",
      "webhookId": "f6a2e8dd-da45-464f-b2dd-6465216f92a5",
      "credentials": {
        "gmailOAuth2": {
          "id": "xJufMgNAIbhd6dXZ",
          "name": "Gmail-WORK"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `Get the message id from 'Get Emails' Node of the message that the user said was sent.`, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        2608,
        -208
      ],
      "id": "7ae1ad5b-591a-42fd-b07e-08e861d3ae8e",
      "name": "Reply To Email",
      "webhookId": "f68bf06b-659f-4901-aded-692188b30ac2",
      "credentials": {
        "gmailOAuth2": {
          "id": "xJufMgNAIbhd6dXZ",
          "name": "Gmail-WORK"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        2736,
        -208
      ],
      "id": "97917dd3-8eac-43b9-947b-73ed51eaa8db",
      "name": "Get Labels",
      "webhookId": "ecccea95-88be-4b6e-9427-310a176c3c14",
      "credentials": {
        "gmailOAuth2": {
          "id": "xJufMgNAIbhd6dXZ",
          "name": "Gmail-WORK"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `Subject Line of the Email.`, 'string') }}",
        "emailType": "html",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Body of the Email.`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        2864,
        -208
      ],
      "id": "75bd1e21-0a84-4d37-b160-ff72422fec61",
      "name": "Create Draft",
      "webhookId": "904e97d6-d449-417b-9541-bff978c37d3c",
      "credentials": {
        "gmailOAuth2": {
          "id": "xJufMgNAIbhd6dXZ",
          "name": "Gmail-WORK"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `To the email mentioned by the user, get message id of that particular email from 'Get Emails' tool [Find from it].`, 'string') }}",
        "labelIds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', `Label defined by the user.`, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        2992,
        -208
      ],
      "id": "97223dc1-5e29-40d6-a488-513ce56cfcac",
      "name": "Add Label",
      "webhookId": "a49d3499-4b3c-4fc8-9ba6-dae5f0368de8",
      "credentials": {
        "gmailOAuth2": {
          "id": "xJufMgNAIbhd6dXZ",
          "name": "Gmail-WORK"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1A_NUPOvizK3J1hM6xkXBvfgRxHoZH3TOHzmqVv50GS0",
          "mode": "list",
          "cachedResultName": "Contact Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A_NUPOvizK3J1hM6xkXBvfgRxHoZH3TOHzmqVv50GS0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A_NUPOvizK3J1hM6xkXBvfgRxHoZH3TOHzmqVv50GS0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Contact Type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Contact_Type__using_to_match_', `If the contact is Family contact or proffessional contact.`, 'string') }}",
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', `Name of the person.`, 'string') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', `Email of the person.`, 'string') }}",
            "Phone Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', `Phone number of the person , with Country calling code , for example : \n +91 1234567890`, 'string') }}"
          },
          "matchingColumns": [
            "Contact Type"
          ],
          "schema": [
            {
              "id": "Contact Type",
              "displayName": "Contact Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1328,
        -208
      ],
      "id": "bd99fe80-5a3c-4984-8731-81e0ef639563",
      "name": "Add/Update Contacts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4vitUnlIlkLXRXl1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Get Message').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3888,
        -608
      ],
      "id": "cc7eb234-dd5f-402a-bdd2-b1c7f328f651",
      "name": "Send Response",
      "webhookId": "e611ae54-9036-4bc9-acdc-72821ed98584",
      "credentials": {
        "telegramApi": {
          "id": "1X970a9iWyaRIc0E",
          "name": "Ultimate Agent"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "aryasurve444@gmail.com",
          "mode": "list",
          "cachedResultName": "aryasurve444@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1584,
        -208
      ],
      "id": "85861522-fd26-4615-be23-9f780b39bfa0",
      "name": "Create Event with Attendee",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "VZoqR3aKEjsOJA6h",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "aryasurve444@gmail.com",
          "mode": "list",
          "cachedResultName": "aryasurve444@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1712,
        -208
      ],
      "id": "f372fc96-7871-4f66-8645-d35d84a7a4c8",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "VZoqR3aKEjsOJA6h",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "aryasurve444@gmail.com",
          "mode": "list",
          "cachedResultName": "aryasurve444@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `Get Event ID using Get Events tool [the event  specified by the user.]`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1840,
        -208
      ],
      "id": "5db872fe-5f51-4452-98ad-dc01002c1d23",
      "name": "Delete Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "VZoqR3aKEjsOJA6h",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "aryasurve444@gmail.com",
          "mode": "list",
          "cachedResultName": "aryasurve444@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1968,
        -208
      ],
      "id": "41bf6f25-4c82-4e67-be81-cc8acd8ad9fa",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "VZoqR3aKEjsOJA6h",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "aryasurve444@gmail.com",
          "mode": "list",
          "cachedResultName": "aryasurve444@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `Get Event ID using Get Events tool [the event  specified by the user.]`, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2096,
        -208
      ],
      "id": "7f082323-438c-4339-94e8-f5c5fe54bf66",
      "name": "Update Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "VZoqR3aKEjsOJA6h",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Prompt', ``, 'string') }}",
              "role": "model"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "systemMessage": "=#Overview\nYou are an Guidance Agent and Content Format expert.\nHere is the UserQuery to give suitable guidance the Content Writer Agent - {{ $json.UserQuery }}\n\n##Instructions\n1)Give formative guidance to the Content Writer Agent about how to write the article/blog or any type of content.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGeminiTool",
      "typeVersion": 1.1,
      "position": [
        3248,
        -208
      ],
      "id": "6bc90bad-ecb8-4203-8970-9d00a3a26332",
      "name": "Interact with Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "TxWlO1UyD6DBj7E4",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        3376,
        -208
      ],
      "id": "31b9eabb-ce02-4c29-8719-9d2420017935",
      "name": "Wikipedia Docs"
    },
    {
      "parameters": {
        "resource": "Agent",
        "operation": "agent",
        "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt', `Say what you want to find.`, 'string') }}",
        "schemaType": "manual",
        "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"Subject\": {\n      \"type\": \"string\",\n      \"description\": \"This is the subject of the information.\"\n    },\n    \"Content\": {\n      \"type\": \"string\",\n      \"description\": \"This is the main content of the information.\"\n    }\n  },\n  \"required\": [\"Subject\", \"Content\"]\n}\n    ",
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawlTool",
      "typeVersion": 1,
      "position": [
        3504,
        -208
      ],
      "id": "62e85bdb-847f-4a3b-b123-341ce67fe0a6",
      "name": "Agent-FIND",
      "credentials": {
        "firecrawlApi": {
          "id": "mvUBY2vCB8OIo1zq",
          "name": "Firecrawl account"
        }
      }
    },
    {
      "parameters": {
        "q": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "locationSettings": {},
        "languageSettings": {},
        "searchOptions": {},
        "timeFilters": {},
        "pagination": {},
        "advancedOptions": {},
        "requestOptions": {}
      },
      "type": "@searchapi/n8n-nodes-searchapi.searchApiTool",
      "typeVersion": 1,
      "position": [
        3632,
        -208
      ],
      "id": "77b39541-f1eb-40c4-bf7c-c21ea56624ff",
      "name": "Search Google",
      "credentials": {
        "searchApi": {
          "id": "BfDbwMiNVIbDAsEi",
          "name": "SearchApi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "MapSearch",
        "operation": "search",
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "sources": [
          "web",
          "images",
          "news"
        ],
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "tbs": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Time_Based_Search', `For how much time you want to search.`, 'string') }}",
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawlTool",
      "typeVersion": 1,
      "position": [
        4144,
        -208
      ],
      "id": "2879e219-cf5f-4372-a5e4-91dafe6a6992",
      "name": "Search",
      "credentials": {
        "firecrawlApi": {
          "id": "mvUBY2vCB8OIo1zq",
          "name": "Firecrawl account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        608,
        -416
      ],
      "id": "a9499340-d7dc-4552-8c33-b3051eb306c3",
      "name": "Brain",
      "credentials": {
        "anthropicApi": {
          "id": "PcjtIN6VpJTi0Pmd",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2256,
        -1056
      ],
      "id": "a5c58259-6942-401f-b54a-85270c177b17",
      "name": "Sub-Brain",
      "credentials": {
        "openAiApi": {
          "id": "aJn5jfYsp8jxYfC6",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Download Audio File": {
      "main": [
        [
          {
            "node": "Convert to Text/Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text/Audio": {
      "main": [
        [
          {
            "node": "Download Audio File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UserQuery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Message": {
      "main": [
        [
          {
            "node": "Text/Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Text/Transcribe": {
      "main": [
        [
          {
            "node": "Ultimate AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Ultimate AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Ultimate AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contact Agent": {
      "ai_tool": [
        [
          {
            "node": "Ultimate AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calender Agent": {
      "ai_tool": [
        [
          {
            "node": "Ultimate AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Agent": {
      "ai_tool": [
        [
          {
            "node": "Ultimate AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Content Agent": {
      "ai_tool": [
        [
          {
            "node": "Ultimate AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Ultimate AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Contact Database": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think2": {
      "ai_tool": [
        [
          {
            "node": "Calender Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think3": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think4": {
      "ai_tool": [
        [
          {
            "node": "Content Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "ai_tool": [
        [
          {
            "node": "Ultimate AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Research": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think5": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "UserQuery": {
      "main": [
        [
          {
            "node": "Ultimate AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Emails": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply To Email": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Labels": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Draft": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Label": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add/Update Contacts": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ultimate AI Agent": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event with Attendee": {
      "ai_tool": [
        [
          {
            "node": "Calender Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "Calender Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "Calender Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "Calender Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "Calender Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Interact with Gemini": {
      "ai_tool": [
        [
          {
            "node": "Content Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia Docs": {
      "ai_tool": [
        [
          {
            "node": "Content Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agent-FIND": {
      "ai_tool": [
        [
          {
            "node": "Content Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Google": {
      "ai_tool": [
        [
          {
            "node": "Content Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Brain": {
      "ai_languageModel": [
        [
          {
            "node": "Ultimate AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sub-Brain": {
      "ai_languageModel": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Calender Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Email Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Content Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0b17fe54-83c3-496e-8f22-4b2ebf529602",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "989074a2911041fc135d491b212a27b4bae72585d15252132315be3ee2c31a3b"
  },
  "id": "rzJEAjgOz3vk0oHN",
  "tags": []
}